
.on-the-record {

    pre {
        font-size: smaller;
        background: white;
        padding: 4px;
        border: none;
        background: rgba(0,0,0,0);
        color: darken(aquamarine, 50%);
    }

    .asset-container {
        background: lighten($fg-color, 95%);
        border: 1px solid lighten($fg-color, 50%);
        border-radius: .7em;
        margin-bottom: .5em;
    }

    .asset-container-id {
        color: lighten($fg-color, 50%);
    }

    .page-content {
        padding-bottom: 5em;
        padding-top: 1em;
    }

    .input-content-fixed {
        position: fixed;
        background: white;
        z-index: 100;
    }

    .input-content-panel{
        border: 1px solid rgba(0,0,0,0);
        background: lighten(aquamarine, 20%);
        font-family: "Droid Sans Mono",Menlo,Monaco,Consolas,"Courier New",monospace;
    }

    .transaction-list {
        margin-top: 60px;
    }

    .transaction-panel {
        border-bottom: 1px solid darken(aquamarine, 40%);
        border-left: 1px solid rgba(0,0,0,0);
        border-right: 1px solid rgba(0,0,0,0);
        border-top: 1px solid rgba(0,0,0,0);
        &:hover {
            background: white;
            border: 1px solid darken(aquamarine, 40%);
        }
        margin-bottom: 1em;
        max-width: 800px;
    }
}