[submodule "bigchaindb-server"]
	path = bigchaindb-server
	url = https://github.com/bigchaindb/bigchaindb/
[submodule "plugins/bigchaindb-consensus-composition"]
	path = plugins/bigchaindb-consensus-composition
	url = https://github.com/ascribe/bigchaindb-consensus-composition/
