[submodule "bigchaindb-server"]
	path = bigchaindb-server
	url = https://github.com/bigchaindb/bigchaindb/
[submodule "plugins/bigchaindb-consensus-composition"]
	path = plugins/bigchaindb-consensus-composition
	url = https://github.com/ascribe/bigchaindb-consensus-composition/
[submodule "plugins/bigchaindb-consensus-policy"]
	path = plugins/bigchaindb-consensus-policy
	url = https://github.com/ascribe/bigchaindb-consensus-policy/
[submodule "examples/client/asset_composition"]
	path = examples/client/asset_composition
	url = git@github.com:ascribe/sicpa-client.git
