@import "variables";
@import "bigchaindb";

.account-wrapper:first-child {
    border-top: 2px solid $brand-main-gray-lighter;
}

.list-row,
.list-item {
    font-size: .9em;
    text-transform: uppercase;
    padding: 1em;
    background-color: $brand-main-gray;
    border-bottom: 2px solid $brand-main-gray-lighter;
    border-left: 2px solid $brand-main-gray-lighter;
    border-right: 2px solid $brand-main-gray-lighter;
    color: $brand-main-gray-lighter;
}

.list-row {
    &:hover {
        color: $brand-main-gray;
        background-color: $brand-main-gray-lighter;
        cursor: pointer;
        .list-row-name,
        .list-row-detail {
            color: $brand-main-gray;
        }
    }
}

.list-row.active {
    background: $brand-main-gray-lighter;
    .list-row-name,
    .list-row-detail {
        color: $brand-main-gray;
    }
}

.list-row-name {
    font-weight: bold;
}

.list-row-detail {
    font-family: "Droid Sans Mono",Menlo,Monaco,Consolas,"Courier New",monospace;
    font-size: 0.8em;
}

.list-row-name,
.list-row-detail {
    text-overflow: ellipsis;
    overflow: hidden;
    color: $brand-main-gray-lighter;
}