@import 'variables';
@import "bigchaindb";


#sidebar-wrapper {
  position: fixed;
  top: $navbar-height - 4px;
  left: 2.8em;
  width: $sidebar--wide;
  overflow-y: auto;
  z-index: 1100;
  box-shadow: 3px 3px 8px 2px rgba(0, 0, 0, 0.5);
}

.sidebar-nav {
  width: $sidebar--wide;
  margin: 0;
  z-index: 1100;
  ul {
    list-style: none;
    padding: 0;
  }
  .dropdown-menu {
    overflow-y: scroll;
    max-height: 50vh;
  }

}
