@import "variables";

/**
 * Colors and backgrounds
 */

$row: 100%;
$row--wide: 900px;
$gutter: 20px;
$small: 12px;

$color--brand: #c90000;
$color--background-secondary: #EEE;

html {
    font-family: Roboto, "Helvetica Neue", Helvetica, "Hiragino Sans GB", STHeitiSC-Light, "Microsoft YaHei", 微软雅黑, Arial, sans-serif;
}

body {
    background-color: $bg-color;
}

.app {
    margin: auto;
    //max-width: $content--max-width + $sidebar--wide;
    height: 100%;
}

a {
    color: $fg-color;
}

pre {
    font-size: smaller;
    background: white;
    padding: 4px;
    border: none;
    background: rgba(0, 0, 0, 0);
    color: darken(aquamarine, 50%);
}

h1 {
    color: #00B277;
    font-family: "Droid Sans Mono", Menlo, Monaco, Consolas, "Courier New", monospace;
}


.input-asset-fixed {
    position: fixed;
    z-index: 100;
    width: 100%;
    border-bottom: 2px solid darken(aquamarine, 40%) !important;
    input {
        background: lighten(aquamarine, 10%);
    }
    ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color: lighten(#109, 20%);
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: lighten(#109, 20%);
        opacity: 1;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: lighten(#109, 20%);
        opacity: 1;
    }
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: lighten(#109, 20%);
    }
    .inner-addon .glyphicon-input {
        color: lighten(#109, 20%);
    }
}

.input-content {
    border: 1px solid rgba(0, 0, 0, 0);
    background: lighten(aquamarine, 20%);
    font-family: "Droid Sans Mono", Menlo, Monaco, Consolas, "Courier New", monospace;
}

.input-content-panel {
    ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color: lighten(#109, 20%);
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: lighten(#109, 20%);
        opacity: 1;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: lighten(#109, 20%);
        opacity: 1;
    }
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: lighten(#109, 20%);
    }
    .inner-addon .glyphicon-input {
        color: lighten(#109, 20%);
    }
}

/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon .glyphicon-input {
    position: absolute;
    padding: 1em;
    pointer-events: none;
}

/* align icon */
.left-addon .glyphicon-input {
    left: 0;
}
.right-addon .glyphicon-input {
    right: 0;
}

/* add padding  */
.left-addon input {
    padding-left: 3em;
}
.right-addon input {
    padding-right: 3em;
}

#page-content-wrapper {
    width: 100%;
    max-width: 840px;
    color: #00B277;
    font-family: "Droid Sans Mono", Menlo, Monaco, Consolas, "Courier New", monospace;
}

.page-content {
    padding: 0 1em;
    padding-bottom: 5em;
    padding-top: 1em;
}

.content-text {
    margin-top: 2em;
    text-align: center;
}

.hero,
.page--result {
    background-color: $color--background-secondary;
}

.logo-brand {
    > span:first-of-type {
        font-weight: 700;
    }
}

.navbar-fixed-bottom {
    margin-left: $sidebar--wide;
}

@media (max-width: 930px) {
    .navbar-fixed-bottom {
        margin-left: 0;
    }
}

/**
 * Layout
 */

.row {
    max-width: $row;
    margin-left: auto;
    margin-right: auto;
}

.vertical-align-outer {
    position: absolute;
    display: table;
    width: 100%;
    height: 100%;
}

.vertical-align-inner {
    display: table-cell;
    vertical-align: middle;
}

input {
    width: 100%;
    font-size: 20px;
    line-height: 130%;
    border: 1px solid #BBB;
    padding: 1em;
}

#app-container {
    margin-top: 50vh;
    text-align: center;
    background: $fg-color;
    color: black;
}

#container {
    background-color: $color--background;
}

.content-header-wrapper {
    background-color: $bg-color;
    width: 100%;
}

.content-header {
    width: 100%;
    max-width: $content--max-width;
    position: fixed;
    background-color: $bg-color;
    height: 70px;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .5);
    z-index: 1200;
}
