@import "variables";


.transaction-container {

}

.transaction-container-actions {
    margin-top: 1em
}

.transaction-header {
    background: lighten(aquamarine, 20%);
    border-bottom: 1px solid darken(aquamarine, 40%);
    border-top: 1px solid darken(aquamarine, 40%);
    margin-bottom: 1em;
}

.transaction-header,
.transaction-body {
    font-family: "Droid Sans Mono",Menlo,Monaco,Consolas,"Courier New",monospace;
    padding: 0.4em 1em;
    color: #109;
}

.transaction-body-asset-id {
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}

.transaction-row-label,
.transaction-row-value {
    text-overflow: ellipsis;
    overflow-x: hidden;
}

.transaction-flow-row {
    margin: 1em;
}

.transaction-flow-col {
    padding: 0;
}

.transaction-flow-title {
    margin-bottom: 1em;
    text-align: center;
}

.transaction-flow-body {
    text-overflow: ellipsis;
    overflow-x: hidden;
    font-family: "Droid Sans Mono",Menlo,Monaco,Consolas,"Courier New",monospace;
    color: darken(aquamarine, 50%);
    padding-right: 2em
}

.transaction-flow-glyph-right {
    position: absolute;
    left: -15px;
}

.monospace {
    font-family: "monospace";
}