
$timing-default:        ease-out;
$timing-bounce:         cubic-bezier(0,1.02,.32,1.34); // easeOutBack, modified: http://cubic-bezier.com/#0,1.02,.32,1.34

//
// Transitions
//
@mixin transition {
    transition: all .2s ease-out;
}

.transition {
    @include transition;
}

.fade {
    @include transition;
    opacity: 0;

    &.in {
        opacity: 1;
    }
}

.animation-fadein {
    animation: fadein .4s $timing-default;
}

@keyframes fadein {
    0%   {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


// React TransitionGroup transitions
.screenchange-appear,
.screenchange-enter {
    opacity: 0.01;
    transform: translate3d(100%,0,0);
    
    &.screenchange-appear-active,
    &.screenchange-enter-active {
        @extend .transition;
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}

.screenchange-leave {
    opacity: 1;
    transform: translate3d(0,0,0);
    
    &.screenchange-leave-active {
        @extend .transition;
        opacity: 0.01;
        transform: translate3d(-100%,0,0);
    }
}


//
// Custom animations
//

// smooooothly slide in from bottom
@mixin animation-slide-in-from-bottom {
    animation: slide-in-from-bottom .7s $timing-bounce;
}

.animation-slide-in-from-bottom {
    @include animation-slide-in-from-bottom;

    &.paused {
        animation-play-state: paused;
    }
}

@keyframes slide-in-from-bottom {
    0%   {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@mixin animation-slide-out-to-left {
    animation: slide-out-to-left .2s $timing-default;
}

.animation-slide-out-to-left {
    @include animation-slide-out-to-left;

    &.paused {
        animation-play-state: paused;
    }
}

@keyframes slide-out-to-left {
    0%   {
        opacity: 0;
        transform: translateX(0);
    }
    100% {
        opacity: 1;
        transform: translateX(-100%);
    }
}

@mixin animation-slide-in-from-right {
    animation: slide-out-to-left .2s $timing-default;
}

.animation-slide-in-from-right {
    @include animation-slide-in-from-right;

    &.paused {
        animation-play-state: paused;
    }
}

@keyframes slide-in-from-right {
    0%   {
        opacity: 0;
        transform: translate3d(100%,0,0);
    }
    100% {
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}
