//
// Code (inline and block)
// --------------
// bigchain.io
//
code,
kbd,
pre,
samp {
    font-family: $font-family-monospace;
    font-size: $font-size-xs;
    hyphens: none;
}

// Inline code
code {
    padding: 2px 4px;
    color: $code-color;
    background-color: $code-bg;
    border-radius: $border-radius;
}

// User input typically entered via keyboard
kbd {
    padding: 2px 4px;
    color: $kbd-color;
    background-color: $kbd-bg;
    border-radius: $border-radius-sm;
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);
    kbd {
        padding: 0;
        font-size: 100%;
        font-weight: bold;
        box-shadow: none;
    }
}

// Blocks of code
pre {
    display: block;
    padding: 1em;
    margin: 0 0 $spacer;
    line-height: $line-height;
    word-break: break-all;
    word-wrap: break-word;
    color: $pre-color;
    background-color: $pre-bg;
    border-radius: $border-radius;

    // make 'em scrollable
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    max-height: $pre-scrollable-max-height;

    // Account for some code outputs that place code tags in pre tags
    code {
        padding: 0;
        font-size: inherit;
        color: inherit;
        white-space: pre;
        overflow-wrap: normal;
        word-wrap: normal;
        word-break: normal;
        overflow: auto;
        background-color: transparent;
        border-radius: 0;
    }
}