
.dictaphone--container {

}

.dictaphone--word {
    padding: 0.2em;
    display: none;

    &.active {
        color: $brand-main-green;
        font-size: 1.2rem;
        display: inline;
    }
}

.dictaphone--interim {
    color: $brand-main-gray;
    font-size: 0.9rem;
}