
//
// More sane box model
//
*,
*:before,
*:after {
    box-sizing: border-box;
}


//
// Body reset
//
html,
body,
.app,
.app > div {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.app {
    
}