
//
// More sane box model
//
*,
*:before,
*:after {
    box-sizing: border-box;
}


//
// Body reset
//
html,
body,
.app,
.app > div,
.app > div > div,
.app__content {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.app__content {
    padding-top: $menu-height;
}