.menu {
    background: rgba($brand-main-blue-dark, .75);
    backdrop-filter: saturate(150%) blur(10px);
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    position: fixed;
    width: 100%;
    z-index: 1;
    min-height: $menu-height;
    
    .logo {
        @extend .logo--sm, .logo--white--green;
    }
}

.menu__link,
.menu .logo,
.menu__title {
    flex-basis: (100%/3);
}

.menu__link,
.menu__title {
    font-size: $font-size-sm;
}

.menu .logo {
    @extend .logo--sm;
    margin-right: -$spacer;
}

.menu__link {
    padding-top: .5rem;
    padding-bottom: .5rem;
    display: inline-block;
    transition: .2s ease-out;
    opacity: .8;
    
    .icon {
        stroke-width: 2;
        width: $font-size-xs;
        height: $font-size-xs;
        margin-right: $spacer / 4;
    }
}

.menu__link:hover {
    opacity: 1;
}

.menu__title {
    @extend .h4;
    margin: 0;
    color: #fff;
    text-align: right;
}