$outline-width: 0;
$opacity: .8;

$spacing: 18%;

.timeline-section {
    margin-top: $spacer * 2;
}

.timeline-section__title {
    font-size: $font-size-sm;
    margin-top: 0;
    margin-bottom: $spacer * 2;
    opacity: $opacity;
}

.timeline {
    border-left: 1px solid rgba($brand-main-gray-lighter, $opacity);
    margin-left: .55rem;

    @media ($screen-sm) {
        border-left: none;
        border-top: 1px solid rgba($brand-main-gray-lighter, $opacity);
        padding-top: 2.2rem;
        margin-left: $spacing;
        margin-right: $spacing;
    }

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.timeline-one,
.timeline-two,
.timeline-three {
    margin-left: -.55rem;

    @media ($screen-sm) {
        float: left;
        width: 33%;
        margin-top: -50px;
    }
}

.timeline-one,
.timeline-two {
    padding-bottom: 40px;
}

.timeline-one {
    @media ($screen-sm) {
        margin-left: -$spacing;
        margin-right: $spacing;
    }
}

.timeline-two {

}

.timeline-three {
    margin-bottom: -100%;
    
    @media ($screen-sm) {
        margin-left: $spacing;
        margin-right: -$spacing;
    }
}

.timeline-img {
    display: block;
    margin: auto;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 1px solid rgba($brand-main-gray-lighter, $opacity);
    background: $brand-danger;
    float: left;
    transition: .2s ease-out;

    &:hover,
    &.active {
        background: $brand-main-blue;
    }

    @media ($screen-sm) {
        float: none;
    }
}

.timeline__name,
.timeline__description {
    font-weight: $font-weight-light;
    margin: 0;
    text-align: left;
    opacity: $opacity;
    margin-left: $spacer * 2;
    
    @media ($screen-sm) {
        text-align: center;
        margin-left: 0;
    }
}

.timeline__name {
    font-size: $font-size-sm;
    margin-top: $spacer / 3;
    margin-bottom: $spacer / 3;
}

.timeline__description {
    font-size: $font-size-xs;
    overflow: hidden;
    width: 120px;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;

    a {
        color: $brand-main-gray;
        box-shadow: 0 2px 0 $link-color;
        cursor: pointer;
    }
}