html {
    font-size: $font-size-root;
    -webkit-tap-highlight-color: rgba(0,0,0,0);

    @media ($screen-lg) {
        font-size: $font-size-root-lg;
    }
}

body {
    font-family: $font-family-base;
    font-size: $font-size-base;
    font-weight: $font-weight-base;
    line-height: $line-height;
    color: $text-color;
    background-color: $body-bg;

    // handling long text, like URLs
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;

    text-rendering: optimizeLegibility;
    // Controversial! But prevents text flickering in
    // Safari/Firefox when animations are running
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: 'liga', 'kern';

    // remove old style numerals
    font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 0, "lnum" 0, "dlig" 1;
}


//
// Links
//
a {
    color: $link-color;
    text-decoration: none;
    box-shadow: inset 0 -2px 0 $brand-primary;
    transition: .2s ease-out;

    &:hover,
    &:focus {
        color: $link-hover-color;
        background: $link-hover-bg;
        outline: 0;
    }

    &:active { }
}


//
// Headings
//
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: $headings-font-family;
    line-height: $headings-line-height;
    color: $headings-color;

    // remove old style numerals
    font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 0, "lnum" 0, "dlig" 1;

    .wf-loading & {
        font-weight: $font-weight-normal;
    }

    &,
    .wf-active &,
    .wf-inactive & {
        font-weight: $headings-font-weight;
    }
}


h1, .h1,
h2, .h2,
h3, .h3 {
    margin-top: ($spacer * 2);
    margin-bottom: ($spacer * 2);
}

h4, .h4,
h5, .h5,
h6, .h6 {
    margin-top: $spacer;
    margin-bottom: $spacer;
}

h5, .h5,
h6, .h6 {
    &,
    .wf-active &,
    .wf-inactive & {
        font-weight: $font-weight-normal;
    }
}

h1, .h1 { font-size: $font-size-h1; }
h2, .h2 { font-size: $font-size-h2; }
h3, .h3 { font-size: $font-size-h3; }
h4, .h4 { font-size: $font-size-h4; }
h5, .h5 { font-size: $font-size-h5; }
h6, .h6 { font-size: $font-size-h6; }


//
// Body text
//
p {
    margin: 0 0 $spacer;
}


//
// Emphasis & misc
//
small,
.small {
    font-size: $font-size-sm;
    font-weight: $font-weight-normal;
}

.mini {
    font-size: $font-size-xs;
    font-weight: $font-weight-normal;
}

.large {
    font-size: $font-size-lg;
}

strong,
.strong,
.bold {
    font-weight: $font-weight-bold;
}

em,
.italic {
    font-style: italic;
}

.light {
    font-weight: $font-weight-light;
}

// Alignment
.text-left           { text-align: left; }
.text-right          { text-align: right; }
.text-center         { text-align: center; }
.text-justify        { text-align: justify; }
.text-nowrap         { white-space: nowrap; }

// Transformation
.text-lowercase      { text-transform: lowercase; }
.text-uppercase      { text-transform: uppercase; }
.text-capitalize     { text-transform: capitalize; }

.text-dimmed         { color: $gray-light }


.lead {
    font-size: $font-size-lg;
    color: $headings-color;
    line-height: $line-height-lg;
}