
$blue:   lighten($brand-main-blue, 30%);
$yellow: lighten($brand-warning, 30%);

.audiobar {
    display: flex;
    width: 100%;
    height: $spacer * 3;
    margin-top: -($spacer * 2);
    overflow: hidden;
    border-bottom: 1px dashed rgba($brand-main-blue, .3);
}

.audiobar__step {
    flex: 1;
    border-left: 1px solid $body-bg;
    transform-origin: bottom;

    &:nth-child(1)  { background: $blue; border-left-color: transparent; }
    &:nth-child(2)  { background: rgba($blue, .9); }
    &:nth-child(3)  { background: rgba($blue, .8); }
    &:nth-child(4)  { background: rgba($blue, .7); }
    &:nth-child(5)  { background: rgba($blue, .6); }
    &:nth-child(6)  { background: rgba($blue, .5); }
    &:nth-child(7)  { background: rgba($yellow, .5); }
    &:nth-child(8)  { background: rgba($yellow, .6); }
    &:nth-child(9)  { background: rgba($yellow, .7); }
    &:nth-child(10) { background: rgba($yellow, .8); }
    &:nth-child(11) { background: rgba($yellow, .9); }
    &:nth-child(12) { background: $yellow; }

    cursor: pointer;
    &:hover {
        opacity: 1!important;
    }

}

.audiobar__step.target {
    background: rgba($brand-main-green, 1);
    opacity: 1 !important;
}