@import '../../css/scss/variables';
@import '../../css/scss/bigchaindb';

$color-button: #ED4E2B;
$dark-transparent: rgba(#000000, .6);

.audio-lock {

    $input-height: 60px;
    #page-content-wrapper {
        background-color: $brand-main-gray-lighter;
    }

    .page-content {
        padding-bottom: 5em;
        padding-top: 1em;
        max-width: 1000px;
        margin: auto;
    }

    .frequency-row {
        &:first-child {
                border-left: 1px solid $brand-main-blue-dark;
        }
    }

    .frequency-col {
        padding: 0;
    }

    .frequency-bar {
        background: green;
        height: 90px;
        opacity: 0;
        width: 100%;
        &.target {
            background: red;
            border: 1px solid darken(red, 20%);
            color: white;
            text-align: center;
            font-size: 2em;
        }
    }

    .transaction-input {
        position: fixed;
        width: 100%;
        max-width: 1000px;
        left: 0;
        right: 0;
        margin-top: $navbar-height;
    }

    .transaction-input .frequency-bar{
        height: $input-height;
        border-bottom: 1px solid $brand-main-blue-dark;
        border-right: 1px solid $brand-main-blue-dark;
        opacity: 1;
        background-color: $brand-main-gray-lighter;
        &.selected {
            background-color: $brand-main-blue-dark;
            color: white;
            text-align: center;
            font-size: 2em;
        }
        &:hover{
            cursor: pointer;
            background: $brand-main-blue-dark;
        }
    }

    .transaction-list {
        margin-top: $navbar-height + $input-height + 10px;
    }
}
