.app--audio_lock {
    
    // base layout redefinitions
    .app__content {
        max-width: 33em;
        padding-left: $spacer * 2;
        padding-right: $spacer * 2;
        padding-bottom: $spacer * 2;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        
        display: flex;
        align-items: center;
        justify-content: center;
        
        > div {
            width: 100%;
        }
    }
    
    // add components
    @import 'assets';
    @import 'audiobar';
    @import 'dictaphone';
    @import 'timeline';
    
    .icon--lock {
        stroke-width: .5;
        width: 4rem;
        height: 4rem;
    }
    
    .status {
        margin-bottom: $spacer;
    }

    .status__title {
        font-size: $font-size-h3;
        margin-top: $spacer;
        margin-bottom: $spacer / 2;
        color: $brand-main-blue;
        opacity: .8;
    }
    
    .status__subtitle {
        font-size: $font-size-h4;
        margin-top: 0;
        margin-bottom: $spacer;
        opacity: .5;
    }
    
    .status__text {
        margin-bottom: $spacer * 2;
    }
    
    .status--intro {
        margin-bottom: $spacer * 3;        
    }
    
    .button--switchchallenge {
        margin-top: $spacer * 2;
    }
    
    
    //
    // Lock/unlock state
    //
    transition: .2s ease-out;
    
    .is-locked,
    .is-unlocked {
        
        // make room for timeline
        @media ($screen-sm) {
            padding-bottom: $spacer * 7;
        }
        
        &:before {
            @extend .animation-fadein;
            content: "";
            display: block;
            position: absolute;
            left: 0; right: 0; top: 0; bottom: 0;
            z-index: -1;
            transition: .2s ease-out;
        }
    }
    
    .is-locked {
        .icon--lock {
            stroke: darken($brand-danger, 20%);
        }
        
        &:before {
            background: $brand-danger;
        }
        
    }
    
    .is-unlocked {
        .icon--lock {
            stroke: darken($brand-main-green, 20%);
        }
        
        &:before {
            background: $brand-main-green;
        }
        
        + .timeline-section .timeline__indicator:not(.active) {
            background: $brand-main-green;
        }
    }
}
